/* ==UserStyle==
@name         Dark-OrHarambam
@namespace    github.com/ignaudioz/dark-orharambam
@description  Dark mode implementation for OrHarambam.
@author       audioz <audioz@discord> (https://github.com/ignaudioz)
@homepageURL  https://github.com/ignaudioz/dark-orharambam
@supportURL   https://github.com/ignaudioz/dark-orharambam/issues
@version      0.0.1
@license      MIT
==/UserStyle== */

@-moz-document domain("orharambam.com") {
/* ===Home page=== */


/* Header */
.CJF7A2, .U4Bvut {
  background-color: #242731;
}

:root{
    --bg: #17191e;
    --bg-1:#1f2228;
    --bg-2: #363a48;
    --bg-3:#111317;
    --bg-4:#343844;

    --fg: #cacaca;
    --fg-1: #f7f7f7;
    --fg-title: white;

    --clickable: #0b426c;
    --clickable-1: #153e55;
    --clickable-2: #3d9be9;
    
    --comment-action-font: white !important;
    --action-text-color: white !important;
    --wcrTextColor: white !important;
    --wcrActionTextColor: white !important;
    --navigation-backgroundColor: #17191e !important;
    --ricos-custom-p-color: gray !important
}
strong {
    color: white !important;
}

/* blog cards */
.blog-post-homepage-description-fill {
  background-color: var(--bg);
}

div.gallery-item-container{
    border-color: rgb(17, 17, 17) !important;
}

/* blog header buttons */
.LnLd_R, .Mu0bmS .blog-header-background-color {
  background-color: var(--bg-1) !important;
}

/* blog title */
.blog-post-homepage-title-color{
    color: white !important;
}

/* blog description */
.blog-post-homepage-description-color {
  color: var(--fg) !important;
}

/* color = title hover, fill = description hover. */
.blog-navigation-link-hover-color:hover, .is-desktop .blog-post-homepage-hover-container:hover .blog-hover-container-element-color{
    color:var(--clickable) !important;
    fill: var(--clickable-1) !important;
}
.blog-navigation-container-color, .blog-navigation-container-font, .blog-navigation-link-hover-color {
    color: var(--clickable-2) !important;
}

/* drop down menu*/
.blog-categories-dropdown-background-color {
    background-color: rgba(17, 17, 17, .9) !important;
}

/* profile status */
#comp-jvpkjnrb{
    background-color:var(--bg-4);
}
#comp-l3mulugw{
    background-color:var(--bg-4);
}

.xzldRa .GVjl6y polygon {
    fill:#3d9be9;
}

.J2__qI .klQGNR svg, .aizuI7 {
    fill: #f7f7f7;
}

/* page background */
#pageBackground_xvjd7 {
      background-color: var(--bg-3);
    --fill-layer-background-overlay-color: 0;
}
wix-video {
    display:none;
}

/* search button */
.aXOBOn .lS0Z88 {
    background: var(--clickable-2);
}
.aXOBOn .lS0Z88:hover {
    background:#466871 !important;
}

/* down container*/
#comp-jbz6h5vk{
 background-color: white !important;
}
.kuTaGy{
 background-color: #6272a4 !important;
}


/* other, border */
.mbKyhH.hYUP9L {
  background-color: var(--bg-4);
}

#comp-kr3uadit {
    background-color:var(--bg-4);
}
/* ===Home page=== */

/* ===Article page=== */

/* background color */
.MW5IWV .Kv1aVt {
   background-color: #111317;
}

/* header */
.blog-header-background-color{
    background-color: var(--bg-1) !important;
}
.blog-card-border-color {
  border-color: #343844 !important;
}

.blog-card-background-color {
  background-color: #17191e !important;
}
/* social icons */
.blog-icon-fill {
  fill: whitesmoke !important;
}
.blog-icon-fill:hover {
  fill: #466871 !important;
}
/* text colors */
.urT2WH .blog-post-title-color, .blog-text-color{
  color: white !important;
}
/* sub-title text color */
._40ACk{
    color:#e6e4e4 !important;
}

/* body text styles */
/* TODO: change border color for download*/
.post-content__body {
  --ricos-text-color: whitesmoke !important;
  --ricos-text-color-tuple: 255,255,255 !important;
  --ricos-action-color: #fff;
  --ricos-action-color-tuple: 16, 63, 84;
  --ricos-action-color-fallback: #103f54;
  --ricos-action-color-fallback-tuple: 16, 63, 84;
  --ricos-background-color: #ffffff;
  --ricos-background-color-tuple: 255, 255, 255;
  --ricos-fallback-color: #000000;
  --ricos-fallback-color-tuple: 0, 0, 0;
  --ricos-custom-h1-font-size: 40px;
  --ricos-custom-h1-line-height: 1.5;
  --ricos-custom-h1-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h1-color: rgba(0,0,0,1);
  --ricos-custom-h2-font-size: 28px;
  --ricos-custom-h2-line-height: 1.5;
  --ricos-custom-h2-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h2-color: rgba(0,0,0,1);
  --ricos-custom-h3-font-size: 22px;
  --ricos-custom-h3-line-height: 1.5;
  --ricos-custom-h3-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h3-color: rgba(0,0,0,1);
  --ricos-custom-h4-font-size: 20px;
  --ricos-custom-h4-line-height: 1.5;
  --ricos-custom-h4-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h4-color: rgba(0,0,0,1);
  --ricos-custom-h5-font-size: 18px;
  --ricos-custom-h5-line-height: 1.5;
  --ricos-custom-h5-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h5-color: rgba(0,0,0,1);
  --ricos-custom-h6-font-size: 16px;
  --ricos-custom-h6-line-height: 1.5;
  --ricos-custom-h6-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-h6-color: rgba(0,0,0,1);
  --ricos-custom-link-line-height: 1.5;
  --ricos-custom-link-text-decoration: inherit;
  --ricos-custom-link-color: rgba(60,140,207,1);
  --ricos-custom-link-font-style: inherit;
  --ricos-custom-link-font-weight: inherit;
  --ricos-custom-hashtag-line-height: 1.5;
  --ricos-custom-hashtag-text-decoration: inherit;
  --ricos-custom-hashtag-color: rgba(60,140,207,1);
  --ricos-custom-hashtag-font-style: inherit;
  --ricos-custom-hashtag-font-weight: inherit;
  --ricos-custom-quote-font-size: 24px;
  --ricos-custom-quote-line-height: 1.5;
  --ricos-custom-quote-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-quote-color: gray !important;
  --ricos-custom-quote-border-color: rgb(60, 140, 207);
  --ricos-custom-p-font-size: 18px;
  --ricos-custom-p-line-height: 1.5;
  --ricos-custom-p-font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
  --ricos-custom-p-text-decoration: inherit;
  --ricos-custom-p-color: rgba(0,0,0,1);
  --ricos-custom-p-font-style: inherit;
  --ricos-custom-p-font-weight: inherit;
}


/* comments */
.wc-comments-root {
  --wcButtonColor: rgb(var(--button-color, var(--wix-color-8)));
  --wcTextColor: #e6e4e4 !important;
  --wcTextSecondaryColor: #b3b1b1 !important;
  --wcBorderColor: #383d46 !important;
  --wcSeparatorColor: #25292f !important;
  --wcBackgroundColor: rgb(var(--post-cardBackgroundColor, var(--wix-color-1)));
  --wcContentFont: var(--post-pageFont, var(--wix-font-Body-M));
  --wcContentFontSize: var(--post-pageFont-size, 18px);
  --wcTitleFont: var(--post-titleFont, var(--wix-font-Page-title));
  --wcTitleFontSize: var(--post-titleFont-size, 28px);
  --wcActiveRatingColor: rgb(var(--post-ratingFilledStarColor, var(--wix-color-8)));
  --wcInactiveRatingColor: rgb(var(--post-ratingUnfilledStarColor, var(--wix-color-3)));
  --wcHeaderRatingFont: var(--post-ratingFont, var(--wix-font-Body-M));
  --wcHeaderRatingFontSize: var(--post-ratingFont-size, 14px);
  --wcHeaderRatingColor: var(--post-ratingFontColor, var(--wix-color-5));
}



/* other backgrounds */
#SITE_FOOTER, #pageBackground_s4yhy{
   background-color: #111317;
   --fill-layer-background-overlay-color:0 !important;
}

.blog-background-color{
    background-color: var(--bg-4) !important;
}

/* comment border */
.TPAMultiSection_jp99njsn .s__9krke2:not(.oMwzgWE--isExpanded):not(.oMwzgWE--isHighlighted) {
  border-color: white;
}

/* === Forum === */
/* TODO: add colors to the forum.*/
.header-background-color{
 background-color: var(--bg-1) !important;   
}

/* search tint*/
.nmhxJJ{
    fill: var(--clickable-2) !important;
}

/* bell tint */
.TC1cLR .breadcrumbs-icon-fill, .TC1cLR .desktop-header-search-icon-fill {
  fill: var(--clickable-2) !important;
}

.TC1cLR .button-hover-fill:hover{
    fill: var(--clickable-1) !important;
}

.swDRBob {
    color: var(--clickable-2) !important;
}

.forum-background-color {
  background-color: var(--bg-4) !important;
}

.forum-card-background-color {
    background-color: var(--bg) !important;
}



.forum-card-border-color {
  border-color: var(--bg-1) !important;
}

/* title text color */
h2[data-hook*="post-title-with-activity"]{
    color: white !important;
}
.forum-text-color {
    color: var(--fg) !important;
}

/* text color */
.-Zro6{
    color: var(--fg) !important;
}
/* smiley face */
._j6yW4 a{
    color: var(--clickable-2) !important;
}

.sJWOp9G, .sYwuFBC, .sV9axFl, .sAoZeon .sPGOcqu {
   color: white !important;
}

/* === other === */

/* account section & notifications */

/* account box color*/
.comp-kg8ea061 .ODTc2a {
 background-color: var(--bg-1) !important;
}
/* account text color */
.MiWk4I,.rgNicF,.NgSH6d{
    color: white !important;
}
/* section selector */
.iIDj3f .dcf7Sz{
    background-color: var(--bg-1) !important;
}
.iIDj3f .dcf7Sz, .iIDj3f .dcf7Sz::after{
    color: white;
}

.iIDj3f .VhEFyd {
    border-width: 1px !important;
    border-color: rgb(16, 63, 84) !important;
    border-radius: var(--rd,0) !important;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6)) !important;
}

.iIDj3f .XOv3PP.oURt_q:not(.yhMPOT) > .yGKpFe > .dcf7Sz {
    color: var(--clickable-1) !important;
}

/* notification color */
/* TODO: fix the following classes. */
.notifications-text-color{
    color: white !important;
}

.notifications-background-color, .VfEIOG{
  background-color: rgba(135, 20, 20,1) !important;
    color: red !important;
}
.notifications-border-color {
     border-color: rgb(16, 63, 84,0.75) !important;
}


/* notification label color*/
.VzaX_Y {
  background-color: rgba(var(--badge-bg,226,28,33),var(--alpha-badge-bg,1)) !important;
}

}
